@page "/"
@using System.ComponentModel.DataAnnotations

<EditForm Model="model">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>
        Name:
        <InputText @bind-Value="model.Name" />
    </label>
    <MyComponent />
</EditForm>

@code {
    MyModel model = new();

    class MyModel
    {
        [Required]
        public string? Name { get; set; }
    }
}
